<?xml version="1.0" encoding="utf-8" ?>
<ChessConfig version="pre-alpha" name="Board2D">

  <!-- All this is subject to change at present -->
  
  <BoardDef name="Board2D" rows="8" columns="8">
   
  </BoardDef>

  <UIDef>
    <UISquareLayout SquareSize="72">

    </UISquareLayout>
  
    <!-- For Custom weird Boards.. an example: -->
    <UICustomSquareLayout>
    <Square name="1" Location="" size="" sizemode="" BorderStyle="" />
    <Square name="2" Location="" size="" sizemode="" BorderStyle="" />
    <Square name="3" Location="" size="" sizemode="" BorderStyle="" />
    <Square name="4" Location="" size="" sizemode="" BorderStyle="" />
    <Square name="5" Location="" size="" sizemode="" BorderStyle="" />
    </UICustomSquareLayout>
  </UIDef>

  <PieceDef>
    <Piece name="All">
      <Movement>
        <Condition type="Not Checked">
          <Piece name="King"/>
        </Condition>
        <Condition type="Not Blocked">
          <Piece name="All"/>
        </Condition>
      </Movement>
    </Piece>
    <Piece name="Rook" StartingLocation="A1" ImageName="wr.png" Player="1" Color = "white"  >
      <Movement>
        <Orthogonal Distance ="All"/>
      </Movement>
      <Capture>
        <Orthogonal Distance ="All"/>
      </Capture>
    </Piece>
    <Piece name="Knight" StartingLocation="B1" ImageName="wn.png"  Player="1" Color = "white" >
    </Piece>
    <Piece name="Bishop" StartingLocation="C1" ImageName="wb.png"  Player="1" Color = "white" >
    </Piece>
    <Piece name="Queen" StartingLocation="D1" ImageName="wq.png"  Player="1" Color = "white" >
    </Piece>
    <Piece name="King" StartingLocation="E1" ImageName="wk.png" Player="1" Color = "white" >
      <Movement>
        <Orthogonal Distance ="1"/>
        <Diagonal Distance ="1"/>
        <CustomMovement name="Castle" flag="once">
          <Condition Override="true"  type="Not Blocked">
            <Piece name="King"/>
            <Piece name="Rook"/>
          </Condition>
          <Leaper Orthogonal="2" Direction="Descending">
            <ForceMove>
              <Piece name="Rook">
                <CustomMovement>
                  <Leaper Orthogonal ="2" Direction="Ascending"/>
                </CustomMovement>
              </Piece>
            </ForceMove>
            <Condition type="MyColor">
              <Attribute Color="white"/>
            </Condition>
            <Condition type="Has Not Moved">
              <Piece name="King"/>
              <Piece name="Rook"/>
            </Condition>
          </Leaper>
          <Leaper Orthogonal ="3"  Direction="Ascending">
            <ForceMove>
              <Piece name="Rook">
                <CustomMovement>
                  <Leaper Orthogonal ="3" Direction="Descending"/>
                </CustomMovement>
              </Piece>
            </ForceMove>
            <Condition type="MyColor">
              <Attribute Color="White"/>
            </Condition>
            <Condition type="Not Moved">
              <Piece name="King"/>
              <Piece name="Rook"/>
            </Condition>
          </Leaper>
          <Leaper Orthogonal="2" Direction="Descending">
            <ForceMove>
              <Piece name="Rook">
                <CustomMovement>
                  <Leaper Orthogonal ="3" Direction="Ascending"/>
                </CustomMovement>
              </Piece>
            </ForceMove>
            <Condition type="MyColor">
              <Attribute Color="black"/>
            </Condition>
            <Condition type="Has Not Moved">
              <Piece name="King"/>
              <Piece name="Rook"/>
            </Condition>
          </Leaper>
          <Leaper Orthogonal ="3"  Direction="Ascending">
            <ForceMove>
              <Piece name="Rook">
                <CustomMovement>
                  <Leaper Orthogonal ="2" Direction="Descending"/>
                </CustomMovement>
              </Piece>
            </ForceMove>
            <Condition type="MyColor">
              <Attribute Color="black"/>
            </Condition>
            <Condition type="Not Moved">
              <Piece name="King"/>
              <Piece name="Rook"/>
            </Condition>
          </Leaper>
        </CustomMovement>
      </Movement>
      <Capture>
        <Orthogonal Distance ="1"/>
        <Diagonal Distance ="1"/>
      </Capture>
    </Piece>
    <Piece name="Bishop" StartingLocation="F1" ImageName="wb.png"  Player="1" Color = "white" >
    </Piece>
    <Piece name="Knight" StartingLocation="G1" ImageName="wn.png"  Player="1" Color = "white" >
      <Movement>
        <Leaper Orthogonal ="2" Diagonal ="1"/>
        <Condition Override="true" type="Not Blocked"/>
      </Movement>
      <Capture>
        <Leaper Orthogonal ="2" Diagonal ="1"/>
      </Capture>
    </Piece>
    <Piece name="Rook" StartingLocation="H1" ImageName="wr.png"  Player="1" Color = "white" >
    </Piece>
    <Piece name="Pawn" StartingLocation="A2" ImageName="wp.png"  Player="1" Color = "white" >
    </Piece>
    <Piece name="Pawn" StartingLocation="b2" ImageName="wp.png"  Player="1" Color = "white" >
    </Piece>
    <Piece name="Pawn" StartingLocation="c2" ImageName="wp.png"  Player="1" Color = "white" >
    </Piece>
    <Piece name="Pawn" StartingLocation="d2" ImageName="wp.png"  Player="1" Color = "white" >
    </Piece>
    <Piece name="Pawn" StartingLocation="e2" ImageName="wp.png"  Player="1" Color = "white" >
    </Piece>
    <Piece name="Pawn" StartingLocation="f2" ImageName="wp.png"  Player="1" Color = "white" >
    </Piece>
    <Piece name="Pawn" StartingLocation="g2" ImageName="wp.png"  Player="1" Color = "white" >
    </Piece>
    <Piece name="Pawn" StartingLocation="h2" ImageName="wp.png"  Player="1" Color = "white" >
    </Piece>

    <Piece name="Rook" StartingLocation="A8" ImageName="br.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="Knight" StartingLocation="B8" ImageName="bn.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="Bishop" StartingLocation="C8" ImageName="bb.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="Queen" StartingLocation="D8" ImageName="bq.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="King" StartingLocation="E8" ImageName="bk.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="Bishop" StartingLocation="f8" ImageName="bb.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="Knight" StartingLocation="g8" ImageName="bn.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="Rook" StartingLocation="H8" ImageName="br.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="Pawn" StartingLocation="A7" ImageName="bp.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="Pawn" StartingLocation="b7" ImageName="bp.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="Pawn" StartingLocation="c7" ImageName="bp.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="Pawn" StartingLocation="d7" ImageName="bp.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="Pawn" StartingLocation="e7" ImageName="bp.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="Pawn" StartingLocation="f7" ImageName="bp.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="Pawn" StartingLocation="g7" ImageName="bp.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="Pawn" StartingLocation="h7" ImageName="bp.png"  Player="2" Color = "black" >
    </Piece>
  </PieceDef>

</ChessConfig>