<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SKChess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <AppSettings>
    <setting name="DefaultBoard_Rows" serializeAs="String">
      <value>6</value>
    </setting>
    
  </AppSettings>
  
  
    <userSettings>
        <SKChess.Properties.Settings>
            <setting name="DefaultBoard_Rows" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="DefaultBoard_Columns" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="DefaultBoard_SquareSize" serializeAs="String">
                <value>72</value>
            </setting>
        </SKChess.Properties.Settings>
    </userSettings>
</configuration>