<?xml version="1.0" encoding="utf-8" ?>
<ChessConfig version="pre-alpha" name="Board2D">

  <Board width ="8"
         height ="8"
         players ="2"
         names ="White,Black"
         order ="White,Black"
         style ="checkerboard"
         colors ="white,black"
         >
    <GlobalRules>
      <MoveReq blocked ="0" notChecked ="King" />
      <CaptureReq blocked ="1" blockedBy ="opponent" moveTo ="target" remove ="current" />
      <Victory inMate ="opponant" pieceMated ="King" />
    </GlobalRules>
    <Setup name ="White" displayAngle ="0">
      <Piece type ="Rook"
             name ="Rook"
             PGN ="R"
             image ="wr.gif">
        a1,h1
      </Piece>
      <Piece type ="Knight"
             name ="Knight"
             PGN ="N"
             image ="wn.gif">
        b1,g1
      </Piece>
      <Piece type ="Bishop"
             name ="Bishop"
             PGN ="B"
             image ="wb.gif">
        c1,f1
      </Piece>
      <Piece type ="King"
             name ="King"
             PGN ="K"
             image ="wk.gif">
        d1
      </Piece>
      <Piece type ="Queen"
             name ="Queen"
             PGN ="Q"
             image ="wq.gif">
        e1
      </Piece>
      <Piece type ="Pawn"
             name ="Pawn"
             PGN =""
             image ="wp.gif">
        a2,b2,c2,d2,e2,f2,g2,h2
      </Piece>
    </Setup>
    <Setup name ="Black">
      <Piece type ="Rook"
       name ="Rook"
       PGN ="R"
       image ="br.gif">
        a8,h8
      </Piece>
      <Piece type ="Knight"
             name ="Knight"
             PGN ="N"
             image ="bn.gif">
        b8,g8
      </Piece>
      <Piece type ="Bishop"
             name ="Bishop"
             PGN ="B"
             image ="bb.gif">
        c8,f8
      </Piece>
      <Piece type ="King"
             name ="King"
             PGN ="K"
             image ="bk.gif">
        d8
      </Piece>
      <Piece type ="Queen"
             name ="Queen"
             PGN ="Q"
             image ="bq.gif">
        e8
      </Piece>
      <Piece type ="Pawn"
             name ="Pawn"
             PGN =""
             image ="wp.gif">
        a7,b7,c7,d7,e7,f7,g7,h7
      </Piece>
    </Setup>
  </Board>
  <PieceDef>
    <Piece type ="Rook">
      <Move direction ="U" distance ="any" />
      <Move direction ="D" distance ="any" />
      <Move direction ="L" distance ="any" />
      <Move direction ="R" distance ="any" />
      <Capture direction ="U" distance ="any" />
      <Capture direction ="D" distance ="any" />
      <Capture direction ="L" distance ="any" />
      <Capture direction ="R" distance ="any" />
    </Piece>
    <Piece type ="Knight">
      <Move moveTo ="-2,1" />
      <Move moveTo ="-1,2" />
      <Move moveTo ="1,2" />
      <Move moveTo ="2,1" />
      <Move moveTo ="2,-1" />
      <Move moveTo ="1,-2" />
      <Move moveTo ="-1,-2" />
      <Move moveTo ="-2,-1" />
      <Capture moveTo ="-2,1" />
      <Capture moveTo ="-1,2" />
      <Capture moveTo ="1,2" />
      <Capture moveTo ="2,1" />
      <Capture moveTo ="2,-1" />
      <Capture moveTo ="1,-2" />
      <Capture moveTo ="-1,-2" />
      <Capture moveTo ="-2,-1" />
    </Piece>
    <Piece type ="Bishop">
      <Move direction ="UL" distance ="any" />
      <Move direction ="UR" distance ="any" />
      <Move direction ="DR" distance ="any" />
      <Move direction ="DL" distance ="any" />
      <Capture direction ="UL" distance ="any" />
      <Capture direction ="UR" distance ="any" />
      <Capture direction ="DR" distance ="any" />
      <Capture direction ="DL" distance ="any" />
    </Piece>
    <Piece type ="King">
      <MoveReq notChecked ="target" >
        <Move direction ="any" distance ="1" />
        <Capture direction ="any" distance ="1" />
      </MoveReq>
    </Piece>
    <Piece type ="Queen">
      <Move direction ="any" distance ="any" />
    </Piece>
    <Piece type ="Pawn">
      <Move direction ="U" distance ="1" />
      <MoveReq firstMove ="true">
        <Move direction ="U" distance ="2" />
      </MoveReq>
      <Capture direction ="UL" distance ="1" />
      <Capture direction ="UR" distance ="1" />
    </Piece>
  </PieceDef>
</ChessConfig>
  
  
  
  
         