<?xml version="1.0" encoding="utf-8" ?>
<ChessConfig version="pre-alpha" name="Board2D">

  <!-- All this is subject to change at present -->
  <!-- See the Omega Chess Rules here:  http://www.omegachess.com/home.html?action=advanced -->

  <BoardDef name="Board2D" rows="12" columns="12">

  </BoardDef>

  <UIDef>
    <UISquareLayout SquareSize="72">

    </UISquareLayout>

    <!-- For Custom weird Boards.. an example: -->
    <UICustomSquareLayout>
      <Square name="1" Location="" size="" sizemode="" BorderStyle="" />
      <Square name="2" Location="" size="" sizemode="" BorderStyle="" />
      <Square name="3" Location="" size="" sizemode="" BorderStyle="" />
      <Square name="4" Location="" size="" sizemode="" BorderStyle="" />
      <Square name="5" Location="" size="" sizemode="" BorderStyle="" />
    </UICustomSquareLayout>
  </UIDef>

  <PieceDef>
    <Piece name="All">
      <Movement>
        <Condition type="Not Checked">
          <Piece name="King"/>
        </Condition>
        <Condition type="Not Blocked">
          <Piece name="All"/>
        </Condition>
      </Movement>
    </Piece>
    <Piece name="Wizard" StartingLocation="A1" ImageName="ww.png"  Player="1" Color = "white" >
    </Piece>
    <Piece name="Champion" StartingLocation="B2" ImageName="wc.png"  Player="1" Color = "white" >
    </Piece>
    <Piece name="Rook" StartingLocation="C2" ImageName="wr.png" Player="1" Color = "white"  >
      <Movement>
        <Orthogonal Distance ="All"/>
      </Movement>
      <Capture>
        <Orthogonal Distance ="All"/>
      </Capture>
    </Piece>
    <Piece name="Knight" StartingLocation="D2" ImageName="wn.png"  Player="1" Color = "white" >
    </Piece>
    <Piece name="Bishop" StartingLocation="E2" ImageName="wb.png"  Player="1" Color = "white" >
    </Piece>
    <Piece name="Queen" StartingLocation="F2" ImageName="wq.png"  Player="1" Color = "white" >
    </Piece>
    <Piece name="King" StartingLocation="G2" ImageName="wk.png" Player="1" Color = "white" >
      <Movement>
        <Orthogonal Distance ="1"/>
        <Diagonal Distance ="1"/>
        <CustomMovement name="Castle" flag="once">
          <Condition Override="true"  type="Not Blocked">
            <Piece name="King"/>
            <Piece name="Rook"/>
          </Condition>
          <Leaper Orthogonal="2" Direction="Descending">
            <ForceMove>
              <Piece name="Rook">
                <CustomMovement>
                  <Leaper Orthogonal ="2" Direction="Ascending"/>
                </CustomMovement>
              </Piece>
            </ForceMove>
            <Condition type="MyColor">
              <Attribute Color="white"/>
            </Condition>
            <Condition type="Has Not Moved">
              <Piece name="King"/>
              <Piece name="Rook"/>
            </Condition>
          </Leaper>
          <Leaper Orthogonal ="3"  Direction="Ascending">
            <ForceMove>
              <Piece name="Rook">
                <CustomMovement>
                  <Leaper Orthogonal ="3" Direction="Descending"/>
                </CustomMovement>
              </Piece>
            </ForceMove>
            <Condition type="MyColor">
              <Attribute Color="White"/>
            </Condition>
            <Condition type="Not Moved">
              <Piece name="King"/>
              <Piece name="Rook"/>
            </Condition>
          </Leaper>
          <Leaper Orthogonal="2" Direction="Descending">
            <ForceMove>
              <Piece name="Rook">
                <CustomMovement>
                  <Leaper Orthogonal ="3" Direction="Ascending"/>
                </CustomMovement>
              </Piece>
            </ForceMove>
            <Condition type="MyColor">
              <Attribute Color="black"/>
            </Condition>
            <Condition type="Has Not Moved">
              <Piece name="King"/>
              <Piece name="Rook"/>
            </Condition>
          </Leaper>
          <Leaper Orthogonal ="3"  Direction="Ascending">
            <ForceMove>
              <Piece name="Rook">
                <CustomMovement>
                  <Leaper Orthogonal ="2" Direction="Descending"/>
                </CustomMovement>
              </Piece>
            </ForceMove>
            <Condition type="MyColor">
              <Attribute Color="black"/>
            </Condition>
            <Condition type="Not Moved">
              <Piece name="King"/>
              <Piece name="Rook"/>
            </Condition>
          </Leaper>
        </CustomMovement>
      </Movement>
      <Capture>
        <Orthogonal Distance ="1"/>
        <Diagonal Distance ="1"/>
      </Capture>
    </Piece>
    <Piece name="Bishop" StartingLocation="H2" ImageName="wb.png"  Player="1" Color = "white" >
    </Piece>
    <Piece name="Knight" StartingLocation="I2" ImageName="wn.png"  Player="1" Color = "white" >
      <Movement>
        <Leaper Orthogonal ="2" Diagonal ="1"/>
        <Condition Override="true" type="Not Blocked"/>
      </Movement>
      <Capture>
        <Leaper Orthogonal ="2" Diagonal ="1"/>
      </Capture>
    </Piece>
    <Piece name="Rook" StartingLocation="J2" ImageName="wr.png"  Player="1" Color = "white" >
    </Piece>
    <Piece name="Champion" StartingLocation="K2" ImageName="wc.png"  Player="1" Color = "white" >
    </Piece>
    <Piece name="Wizard" StartingLocation="L1" ImageName="ww.png"  Player="1" Color = "white" >
    </Piece>
    <Piece name="Pawn" StartingLocation="b3" ImageName="wp.png"  Player="1" Color = "white" >
    </Piece>
    <Piece name="Pawn" StartingLocation="c3" ImageName="wp.png"  Player="1" Color = "white" >
    </Piece>
    <Piece name="Pawn" StartingLocation="d3" ImageName="wp.png"  Player="1" Color = "white" >
    </Piece>
    <Piece name="Pawn" StartingLocation="e3" ImageName="wp.png"  Player="1" Color = "white" >
    </Piece>
    <Piece name="Pawn" StartingLocation="f3" ImageName="wp.png"  Player="1" Color = "white" >
    </Piece>
    <Piece name="Pawn" StartingLocation="g3" ImageName="wp.png"  Player="1" Color = "white" >
    </Piece>
    <Piece name="Pawn" StartingLocation="h3" ImageName="wp.png"  Player="1" Color = "white" >
    </Piece>
    <Piece name="Pawn" StartingLocation="i3" ImageName="wp.png"  Player="1" Color = "white" >
    </Piece>
    <Piece name="Pawn" StartingLocation="j3" ImageName="wp.png"  Player="1" Color = "white" >
    </Piece>
    <Piece name="Pawn" StartingLocation="k3" ImageName="wp.png"  Player="1" Color = "white" >
    </Piece>

    <Piece name="Wizard" StartingLocation="a12" ImageName="bw.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="Champion" StartingLocation="b11" ImageName="bc.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="Rook" StartingLocation="c11" ImageName="br.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="Knight" StartingLocation="d11" ImageName="bn.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="Bishop" StartingLocation="e11" ImageName="bb.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="Queen" StartingLocation="f11" ImageName="bq.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="King" StartingLocation="g11" ImageName="bk.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="Bishop" StartingLocation="h11" ImageName="bb.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="Knight" StartingLocation="i11" ImageName="bn.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="Rook" StartingLocation="j11" ImageName="br.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="Champion" StartingLocation="k11" ImageName="bc.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="Wizard" StartingLocation="l12" ImageName="bw.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="Pawn" StartingLocation="b10" ImageName="bp.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="Pawn" StartingLocation="c10" ImageName="bp.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="Pawn" StartingLocation="d10" ImageName="bp.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="Pawn" StartingLocation="e10" ImageName="bp.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="Pawn" StartingLocation="f10" ImageName="bp.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="Pawn" StartingLocation="g10" ImageName="bp.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="Pawn" StartingLocation="h10" ImageName="bp.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="Pawn" StartingLocation="i10" ImageName="bp.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="Pawn" StartingLocation="j10" ImageName="bp.png"  Player="2" Color = "black" >
    </Piece>
    <Piece name="Pawn" StartingLocation="k10" ImageName="bp.png"  Player="2" Color = "black" >
    </Piece>
  </PieceDef>

</ChessConfig>